
@font-face {
    font-family: 'bebas_neuethin';
    src: url('bebasneue_thin-webfont.woff2') format('woff2'),
         url('bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('bebasneue_regular-webfont.woff2') format('woff2'),
         url('bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}